@inject TrackingManager trackingManager
@inject NavigationManager _nav

<div class="row">
    <div class="col-md-6 col-sm-12">
        @if (TrackingVm != null)
        {
            <EditForm Model="@TrackingVm" OnValidSubmit="@UpdateTracking">

                <FormFieldComponent LabelName="Subject">
                    <ControlToRender>
                        <MudTextField @bind-Value="@TrackingVm.Subject" Variant="Variant.Outlined" Lines="2"></MudTextField>
                    </ControlToRender>
                </FormFieldComponent>

                <div class="row">
                    <div class="col col-sm-12 col-md-4">
                        <ToFromSelectComponent TofromIdChanged="UpdateTofrom" SelectedTofromId="@TrackingVm.ToFromId"></ToFromSelectComponent>
                    </div>
                    <div class="col col-sm-12 col-md-4">
                        <CorrTypeSelectComponent CorrTypeIdChanged="UpdateCorrType" SelectedCorrTypeId="@TrackingVm.CorrespondenceTypeId"></CorrTypeSelectComponent>
                    </div>
                    <div class="col col-sm-12 col-md-4">
                        <PocSelectComponent PocIdChanged="UpdatePoc" SelectedPocId="@TrackingVm.PocId"></PocSelectComponent>
                    </div>
                </div>

                <div class="row">
                    <div class="col col-sm-12 col-md-4">
                        <FormFieldComponent LabelName="Sent/Received">
                            <ControlToRender>
                                <InputDate @bind-Value="TrackingVm.SentOrReceived" />
                            </ControlToRender>
                        </FormFieldComponent>
                    </div>
                    <div class="col col-sm-12 col-md-4">
                        <StatusSelectComponent StatusIdChanged="UpdateStatus" SelectedStatusId="@TrackingVm.StatusId"></StatusSelectComponent>
                    </div>
                </div>

                <FormFieldComponent LabelName="Comments">
                    <ControlToRender>
                        <MudTextField @bind-Value="@TrackingVm.Comments" Variant="Variant.Outlined" Lines="4"></MudTextField>
                    </ControlToRender>
                </FormFieldComponent>

                <FormFieldComponent LabelName="Document Path">
                    <ControlToRender>
                        <InputText class="form-control" @bind-Value="TrackingVm.DocumentPath" />
                    </ControlToRender>
                </FormFieldComponent>

                <input type="hidden" @bind-value="TrackingVm.ThreadId" />

                <MudButton Variant="Variant.Filled" ButtonType="ButtonType.Submit" Color="Color.Primary" Size="Size.Small">Update</MudButton>
                <MudButton Link=@($"/tracking/{TrackingId}") Variant="Variant.Filled" Color="Color.Error" Size="Size.Small">Cancel</MudButton>

            </EditForm>
        }
    </div>
</div>

@code {

    [Parameter]
    public int TrackingId { get; set; }

    public EditTrackingVm TrackingVm { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        var tracking = await trackingManager.GetByIdAsync(TrackingId);
        TrackingVm = Mapping.Mapper.Map<EditTrackingVm>(tracking);
    }
    protected async Task UpdateTracking()
    {
        var tracking = Mapping.Mapper.Map<Tracking>(TrackingVm);
        await trackingManager.UpdateAsync(tracking);
        _nav.NavigateTo("/tracking/" + @TrackingId.ToString());
    }

    void UpdateStatus(int? id)
    {
        TrackingVm.StatusId = Convert.ToInt32(id);
    }
    void UpdateCorrType(int? id)
    {
        TrackingVm.CorrespondenceTypeId = Convert.ToInt32(id);
    }
    void UpdatePoc(int? id)
    {
        TrackingVm.PocId = Convert.ToInt32(id);
    }
    void UpdateTofrom(int? id)
    {
        TrackingVm.ToFromId = Convert.ToInt32(id);
    }
}