@inject TrackingManager trackingManager
@inject NavigationManager _navigation

<h3>
    <MudIcon Icon="@Icons.Material.Filled.VerifiedUser" Size="Size.Large" Class="m-3" />
    Tracking # @_trackingVm.Id
</h3>


<div class="row mb-4">
    <div class="col col-sm-12 col-md-9">
        <MudField Label="Subject" Variant="Variant.Outlined">@_trackingVm.Subject</MudField>
    </div>
</div>

<div class="row mb-4">
    <div class="col col-sm-12 col-md-3">
        <MudField Label="To/From" Variant="Variant.Outlined">@_trackingVm.ToFrom</MudField>
    </div>
    <div class="col col-sm-12 col-md-3">
        <MudField Label="Corr. Type" Variant="Variant.Outlined">@_trackingVm.CorrespondenceType</MudField>
    </div>
    <div class="col col-sm-12 col-md-3">
        <MudField Label="POC" Variant="Variant.Outlined">@_trackingVm.Poc</MudField>
    </div>
</div>

<div class="row mb-4">
    <div class="col col-sm-12 col-md-2">
        <MudField Label="Sent/Received" Variant="Variant.Outlined">@_trackingVm.SentOrReceived.ToShortDateString()</MudField>
    </div>

    <div class="col col-sm-12 col-md-2">
        <MudField Label="Status" Variant="Variant.Outlined">@_trackingVm.Status</MudField>
    </div>
    <div class="row mb-4">
        @if (_trackingVm.DocumentPath.StartsWith("http"))
        {
            <div class="col col-sm-12 col-md-2">
                <MudField Variant="Variant.Filled">
                    <a href="@_trackingVm.DocumentPath" target="_blank" class="card-link">
                        <MudIcon Icon="@Icons.Material.Filled.Link" Size="Size.Large" Color="Color.Success" />
                    </a>
                </MudField>
            </div>
        }
        else
        {
            <div class="col col-sm-12 col-md-2">
                <MudField Variant="Variant.Text">
                    <a href="/notfound" class="card-link">
                        <MudIcon Icon="@Icons.Material.Filled.LinkOff" Size="Size.Large" Color="Color.Dark"/>
                    </a>
                </MudField>
            </div>
        }
    </div>
</div>

<MudButton Link=@($"/tracking/edit/{TrackingId}") Variant="Variant.Filled" Color="Color.Warning" Size="Size.Small">Edit</MudButton>

@code {

    [CascadingParameter(Name = "TrackingId")]
    private int TrackingId { get; set; }

    private TrackingVm _trackingVm = new();

    protected async override Task OnParametersSetAsync()
    {
        var tracking = await trackingManager.GetByIdAsync(TrackingId);

        if (tracking != null)
        {
            if (tracking.DocumentPath is null)
            {
                tracking.DocumentPath = "/notfound";
            }
            _trackingVm = Mapping.Mapper.Map<TrackingVm>(tracking);
        }
        else
        {
            _navigation.NavigateTo("/notfound");
        }
    }
}
