@inject ProjectManager projectManager

<div class="row mb-4">
    <div class="col col-md-6 col-sm-12">
        <MudButton Size="Size.Small" Variant="Variant.Filled" Color="Color.Success" Link="/projects/create">New</MudButton>
    </div>
</div>

<MudTable Items="@projectList" Hover="true" Striped="true" Dense="true">
    <HeaderContent>
        <MudTh>Thread #</MudTh>
        <MudTh>Topic</MudTh>
        <MudTh></MudTh>
        <MudTh></MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Thread">@context.Id</MudTd>
        <MudTd DataLabel="Thread">@context.Name</MudTd>
        <MudTd DataLable="SELECT">
            <a href="/project/@context.Id">
                <MudIcon Icon="@Icons.Material.Filled.Info" Color="Color.Info"></MudIcon>    
            </a>
        </MudTd>
        <MudTd DataLable="SELECT">
            <a href="/project/edit/@context.Id" role="button">
                <MudIcon Icon="@Icons.Material.Filled.Edit" Color="Color.Warning"></MudIcon>    
            </a>
        </MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>

@code {
    private List<ProjectListVm> projectList = new();

    protected override async Task OnInitializedAsync()
    {
        var items = await projectManager.GetAllAsync();
        projectList = Mapping.Mapper.Map<List<ProjectListVm>>(items);
    }
}